@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Activity>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Activty</td>
            <td>Date</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Activity activty in Model) {
            <tr>
                <td>@activty.Name</td>
                <td>@activty.Date.ToString()</td>
            </tr>
        }
    </tbody>
</table>